extends ../includes/layout

block main-content
  section.content
    div(ng-view)
    h1 This is a Partial
    h2 {{ myVar }}
    h2= mongoMessage
    h2 Shopping Card Example
    
        table (class="table")
            tr
        
                div Description
                div Qty
                div Cost
                div Total
                  h2 Total:
                  h3 {{total() | currency}}
             //- div(ng:repeat="item in invoice.items")
             //-    div(input type="text" ng:model="item.description")           
             //-    div(input type="number" ng:model="item.qty")
             //-    div(input type="number" ng:model="item.cost")
             //-    h3 {{item.qty * item.cost | currency}}
             //- 
             //-        a (href ng:click="removeItem($index)")X
        
        
                 //- a (href ng:click="addItem()" class="btn btn-small">add item)
        
                
            
    
