extends ../includes/layout

block main-content
  section.content
    div(ng-view)
    h1 This is a Partial
    h2 {{ myVar }}
    h2= mongoMessage
    h3 Shopping Card Example
    h2 Reading Rainbow
        
            
        
                div Description
                div Qty
                div Cost
                div Total
                  h2 Total:
                  h3 {{total() | currency}}
             div(ng:repeat="item in items")
                input(type="text" ng:model="item.description")           
                input(type="number" ng:model="item.qty")
                input(type="number" ng:model="item.cost")
                h3 {{item.qty * item.cost | currency}}
             
                    button(ng:click="removeItem($index)") X
        
        
                 button(ng:click="addItem()" class="btn btn-small">add item)
        
                
            
    
