doctype
html(ng-app="app")
  head
  base(href="/")
  script(type="text/javascript", src="/vendor/angular/angular.js")
  script(type="text/javascript", src="/vendor/jquery/dist/jquery.js")
  script(type="text/javascript", src="/vendor/angular-resource/angular-resource.js")
  script(type="text/javascript", src="/vendor/angular-route/angular-route.js")
  script(type="text/javascript", src="/app/app.js")

    
    link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
    link(rel="stylesheet", href="/css/bootstrap.css")
    link(rel="stylesheet", href="/vendor/toastr/toastr.css")
    link(rel="stylesheet", href="/css/site.css")
      link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css", rel="stylesheet")
    head

  
  

body(ng-controller="mainCtrl" style="padding-bottom:10rem;")
  block main-content
    .container
   
   script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )
   script( src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js' )

   
  
